<div class="stagebody" id="stage{{stage.stage}}">
    <form (ngSubmit)="onSubmit(formstage,stage.stage,$event)" #formstage="ngForm">
        <div class="row spacebetween">    
            <div>
                <div class="input-group mb-1">
                    <div class="input-group-prepend">
                        <span 
                        [ngStyle]="{'background-color' : activestage=='stage'+stage.stage ? 'orange' : ''}"
                        class="input-group-text" id="basic-addon3">{{"Stage " +stage.stage}}</span>
                    </div>
                </div>
            </div>
            <div>
                <div class="input-group mb-1">
                    <div class="input-group-prepend">
                        <button type = "submit" class="btn btn-primary">Save</button>
                        <button type = "button" class="btn btn-danger" (click)="onDelete()">Delete</button>
                    </div>
                </div>
            </div> 
            
            <div>
                <div class="input-group mb-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">Send</span>
                    </div>
                    <select ngModel name="scheduleType" [ngModel]="stage.scheduleType"
                    class="custom-select custom-select-mb form-control-sm" >
                        <option value="immediately">immediately</option>
                        <option value="afterTime">After</option>
                    </select>
                </div>
            </div>
            <div>
                <div class="input-group">
                    <input type="text" name="afterCount" ngModel [ngModel]="stage.afterCount"
                    class="form-control" aria-label="Text input with dropdown button"
                    >
                    <select name="after" ngModel [ngModel]="stage.after"
                    class="custom-select custom-select-mb form-control-sm">
                        <option value="days">Day</option>
                        <option value="weeks">Week</option>
                        <option value="months">Month</option>
                    </select>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="flex-fill">
                <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">Subject</span>
                </div>
                <input type="text" name="subject" ngModel
                [ngModel]="stage.subject"
                class="form-control" aria-describedby="basic-addon3">
                </div>
            </div>
        </div>
        <div class="emailbody">
            <div class="options">
                <button type="button" class="btn btn-secondary btn-sm"
                (click)="onselectbody('html')"
                [ngStyle]="{'background-color' : emailbodyview == 'html'
                ? 'orange' : ''}"
                style="margin-right: 3rem;">CODE</button>
                <button type="button" class="btn btn-secondary btn-sm"
                (click)="onselectbody('preview')"
                [ngStyle]="{'background-color' : emailbodyview == 'preview'
                ? 'orange' : ''}">PREVIEW</button>
            </div>
            <div id="htmlcodeoutput" class="htmlcodeoutput"
            *ngIf="emailbodyview=='html'">
                <textarea id="textarea" name="body" [(ngModel)]="htmlcontent">
                </textarea>
            </div>
            <div 
                *ngIf="emailbodyview=='preview'"
                id="previewoutput" 
                contenteditable="true" 
                class="previewoutput" [innerHTML]="previewcontent">
            </div>
        </div>
        <hr />
    </form>
</div>