<div id="viewsingledrip">
    
    <div class="customcontainer">
        <div class="createsingledrip">
            <a class="btn btn-primary btn-sm active" role="button" aria-pressed="true"
            (click)="router.navigateByUrl('/singledrip/cru')"
            >Create-Single-Drip</a>
        </div>
        <h5 *ngIf="singleDripCollection.length == 0">There are no singledrip templates available to view. Please create singledrip. </h5>
        <div class="card" *ngFor="let item of singleDripCollection;let i = index;">
            <div class="title">{{item.dripCampaignName}}</div>
            <div class="body">
                <div class="isactive">
                    <div style="font-weight: bold;">IS ACTIVE</div>
                    <div>
                        <input type="radio" [id]="item._id+'1'" value="true" 
                        (change)="onIsActiveChanged($event)"
                        [name]="'isactive'+i" 
                        [checked]="item.isActive ? 'checked' : ''" > 
                        <label [for]="item._id+'1'">TRUE</label>
                    </div>
                    <div>
                        <input type="radio" [id]="item._id+'2'" value="false" 
                        (change)="onIsActiveChanged($event)"
                        [name]="'isactive'+i" 
                        [checked]="item.isActive ? '' : 'checked'" > 
                        <label [for]="item._id+'2'">FALSE</label>
                    </div>
                </div>
                <div class="buttons">
                    <a class="btn btn-info btn-sm active" role="button" aria-pressed="true"
                    (click)="viewUpdateDrip(item._id)"
                    >View/Update</a>
                    <a class="btn btn-danger btn-sm active" role="button" aria-pressed="true"
                    (click)="deleteDrip(item._id)"
                    >Delete</a>
                </div>
            </div>
        </div>
    </div>  
</div>