<div id="dripcontainer">
   <div class="left">
       <div>
            <button type="button" 
            (click)="router.navigateByUrl('/singledrip')"
            class="btn btn-info">VIEW ALL SINGLE DRIPS</button>
       </div>
       <div class="stages">
           <div class="header">Stages</div>
           <div class="body">
                <div 
                class="stage stage{{stage.stage}}"
                (click)="scrollToStage(stage.stage)"
                [ngStyle]="{'background-color' : activestage==='stage'+stage.stage ? 'orange' : ''}"
                *ngFor="let stage of dripObject.stages;">
                    {{stage.stage}}
                </div>
           </div>
           <div class="footer">
               <button (click)="addStage()" 
               class="btn btn-secondary btn-sm">AddStage</button>
           </div>
       </div>
   </div>
   <div class="middle">
        <div class="header">
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">CampaignName</span>
                </div>
                <input type="text" class="form-control" aria-describedby="basic-addon3" [(ngModel)]="dripCampaignName">
                <button type="button" 
                (click)="savedrip()"
                style="margin-left: 1rem;"
                class="btn btn-success">Save Drip</button>
            </div>
        </div>
        <div class="body">
            <div *ngFor="let stage of dripObject.stages;">
                <app-stage [stage]="stage" [activestage]="activestage"
                (onSaveStage)="onSaveStage($event)"
                (onDeleteStage)="onDeleteStage($event)"></app-stage>
            </div>
        </div>
   </div>
   <div class="right">
       <div class="tags">
        tags
       </div>
   </div>
</div>