<div>
    <div>
        <h5>start</h5>
        <div *ngFor="let team of teamdata">
            {{team.teamname +" - "+team.country}}
        </div>
        <h5>end</h5>
    </div>
    <div *ngFor="let team of [].constructor(teamCount);let teamindex = index">
        <app-formdemo [teamindex]="teamindex" (teamdata)="onteamdata($event)"></app-formdemo>
    </div>
</div>