<div id="formdemo">
    <h4>{{teamindex}}</h4>
    <form 
        (ngSubmit)="onSubmit(form)"
        #form="ngForm"
    >
        <div>
            <input type="text" name="teamname" 
            placeholder="teamname" ngModel />
        </div>
        <div>
            <input type="text" name="country" 
            placeholder="country" ngModel />
        </div>
        <button>Submit Team</button>
    </form>
</div>