/* You can add global styles to this file, and also import other style files */

#dripcontainer{
    .left,.middle,.right{
        display: inline-block;
        vertical-align: top;
    }
    .left{
        width: 20%;
        position: fixed;
        text-align: center;
        .stages{
            .body{
                display: flex;
                flex-direction: column;
                align-items: center;
                .stage{
                    display: inline-block;
                    background-color:#e9ecef;
                    width: 2rem;
                    height: 2rem;
                    vertical-align: middle;
                    border-radius: 50%;
                    line-height: 2rem;
                    margin: 0.3rem 0;
                    cursor: pointer;
                    &:hover{
                        background-color:orange; 
                        color:white;
                    }
                }
            }
            .footer{
                button{
                    margin-top: 0.6rem;
                }
            }
        }
    }
    .middle{
        width: 60%;
        position: relative;
        left: 285px;
        .row{
            margin:0;
           
        }
        .header{
            position: fixed;
            z-index: 10;
            background-color: white;
            width: inherit;
        }
        .body{
            z-index: 5;
            margin-top: 50px;
            position: relative;
            .stagebody{
                .row.spacebetween{
                    justify-content: space-between;
                }
                margin-bottom: 2rem;
                .emailbody{
                    position: relative;
                    .options{
                        justify-content: center;

                        margin-bottom: 1rem;
                        >div{
                            width: 50%;
                            text-align: center;
                        }
                        display: flex;
                        .htmlcodebutton,.previewbutton{
                            background-color: grey;
                            color: black;
                        }
                        .htmlcodebutton{
                            //margin-right: 5rem;
                            
                        }
                        .previewbutton{

                        }
                    }
                    
                    .htmlcodeoutput,.previewoutput{
                        //position: absolute;
                        width: 100%;
                        height: 300px;
                        overflow: scroll;
                        //display: none;
                        box-shadow: 0px 0px 4px 0px grey;
                        outline: none;
                    }
                    .htmlcodeoutput{
                        box-shadow: 0px 0px 4px 0px grey;
                    
                        #textarea{
                            width: inherit;
                            height: inherit;    
                            outline:none;
                            border:none;
                            //border: 2px solid brown;
                           // box-shadow: 0px 0px 1px 1px grey;
                        }
                    }
                    .previewoutput{
                        //box-shadow: 0px 0px 4px 0px grey;
                    }
                    
                }
            }
            
        }
    }
    .right{
        width: 20%;
        display: none;
    }
}

#viewsingledrip{
    .customcontainer{
        margin:1rem;
        .createsingledrip{
            margin-bottom: 1rem;
        }
        .card{
            display: inline-block;
            min-width: 10rem;
            padding: 0.6rem;
            &:not(:last-child){
                margin-right: 0.5rem;
            }
            .title{
                font-size: 1.2rem;
                font-weight: bold;
            }
            .body{
                padding: 0.4rem 0;
                font-size: 0.7rem;
                .isactive{
                    display: flex;
                    >div:not(:last-child){
                        margin-right: 0.5rem;
                    }
                    label{
                        margin-left: 0.3rem;
                    }
                }
                .buttons{
                    a:first-child{
                     margin-right: 0.5rem;   
                    }
                }
            }
        }
    }
    
}